BackEnd/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
BackEnd/.metadata/.log
BackEnd/.metadata/.log
BackEnd/.metadata/.mylyn/tasks.xml.zip
BackEnd/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
BackEnd/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
BackEnd/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
BackEnd/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
BackEnd/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
BackEnd/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
BackEnd/.metadata/.log
