BackEnd/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
BackEnd/.metadata/.log
BackEnd/.metadata/.log
BackEnd/.metadata/.mylyn/tasks.xml.zip
BackEnd/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
BackEnd/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
BackEnd/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
BackEnd/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
BackEnd/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
BackEnd/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
BackEnd/.metadata/.log
BackEnd/.metadata/.log
BackEnd/.metadata/version.ini
BackEnd/.metadata/.mylyn/tasks.xml.zip
BackEnd/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
BackEnd/.metadata/.plugins/org.jboss.tools.usage/events/22f130f4-aa13-3271-a863-022f8386f594
BackEnd/.metadata/.plugins/org.jboss.tools.usage/events/central-showOnStartup-N%2FA
BackEnd/.metadata/version.ini
BackEnd/.metadata/.mylyn/tasks.xml.zip
BackEnd/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
BackEnd/.metadata/.plugins/org.jboss.tools.usage/events/22f130f4-aa13-3271-a863-022f8386f594
BackEnd/.metadata/.plugins/org.jboss.tools.usage/events/central-showOnStartup-N%2FA
BackEnd/.metadata/version.ini
.gitignore
BackEnd/.metadata/version.ini
BackEnd/.metadata/.mylyn/tasks.xml.zip
BackEnd/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
BackEnd/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
BackEnd/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
BackEnd/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
BackEnd/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
BackEnd/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
BackEnd/.metadata/.plugins/org.jboss.tools.usage/events/22f130f4-aa13-3271-a863-022f8386f594
BackEnd/.metadata/.plugins/org.jboss.tools.usage/events/central-showOnStartup-N%2FA
