<!--
<div class='dashboard'>
  <div class="dashboard-nav">
    <header>
      <a routerLink="home" class="brand-logo">
        <fa-icon [icon]="faAnchor"></fa-icon> <span>BRAND</span>
      </a>
    </header>
    <nav class="dashboard-nav-list"><a routerLink="home" class="dashboard-nav-item">
        <fa-icon [icon]="faHome"></fa-icon>Home</a>

      <div class='dashboard-nav-dropdown'>
        <a class="dashboard-nav-item dashboard-nav-dropdown-toggle">
          <fa-icon [icon]="faUsers"></fa-icon> Usuários </a>
        <div class='dashboard-nav-dropdown-menu'>
          <a routerLink="usuariolista" class="dashboard-nav-dropdown-item">Listar todos</a>
          <a href="#" class="dashboard-nav-dropdown-item">Cadastrar</a>
          <a href="#" class="dashboard-nav-dropdown-item">Desativar</a>
          <a href="#" class="dashboard-nav-dropdown-item">Permissões</a>
        </div>
      </div>

      <a href="#" class="dashboard-nav-item">
        <fa-icon [icon]="faGear"></fa-icon> Configurações </a>
      <a href="#" class="dashboard-nav-item">
        <fa-icon [icon]="faIdBadge"></fa-icon> Perfil </a>
      <div class="nav-item-divider"></div>
      <a routerLink="login" class="dashboard-nav-item">
        <fa-icon [icon]="faPowerOff" (click)="sair()"></fa-icon> Logout </a>
    </nav>
  </div>
  <div class='dashboard-app'>
    <header class='dashboard-toolbar'>
      <div class="menu-toggle">
        <fa-icon [icon]="faBars"></fa-icon>
      </div>
    </header>

  </div>
</div> -->





<router-outlet></router-outlet>
